 html,
 body {
   margin: 0;
   padding: 0;
 }

 * {
   box-sizing: border-box;
 }

 div {
  border: 1px solid black;
 }

 /* basic strucutral elements */
 
 .wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  .header,
  .body,
  .footer {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* bookshelf and book cards */

  .bookshelf {
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
    max-width: 1200px;
  }

  .book-card {
    padding: 20px;
    flex: 0 0 29.33333%;
    margin: 2%;
    overflow: hidden;
  }

  .book-card::before {
    content: '';
    float: right;
    padding-top: 150%; 	/* initial ratio of 1:1*/
  }

  @media screen and (max-width: 950px) {
    .book-card {
      flex: 0 0 46%;
    }
  }

  @media screen and (max-width: 500px) {
    .book-card {
      flex: 0 0 96%;
    }
  }

  /* 'new book' form overlay and window */

  .new-book-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* scroll if overflow */
  background-color: rgba(0,0,0,0.5);
}

.new-book-form {
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}