@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Luxurious Roman', cursive;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body:before {
	content: '';
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
	background: rgba(255, 255, 255, 0.6);
}

/* basic strucutral elements */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.body,
.footer {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-book-btn {
  margin-bottom: 20px;
}

/* bookshelf and book cards */

h1 {
  color: #444;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.book-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 20px;
  flex: 0 0 29.33333%;
  margin: 2%;
  overflow: hidden;
}

.book-card h3 {
  color: #444;
  margin-bottom: 20px;
}

.book-card p {
  font-family: sans-serif;
  color: #999;
}

.book-card::before {
  content: '';
  float: right;
  padding-top: 80%; 	/* initial ratio of 1:1*/
}

@media screen and (max-width: 1000px) {
  .book-card {
    flex: 0 0 46%;
  }
}

@media screen and (max-width: 650px) {
  .bookshelf {
    max-width: 400px;
  }
  .book-card {
    flex: 0 0 96%;
  } 
}

/* 'new book' form overlay and window */

.new-book-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* scroll if overflow */
  background-color: rgba(0,0,0,0.5);
}

.new-book-form {
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  
}

.form-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

label {
  margin-bottom: 6px;
}

input {
  margin-bottom: 20px;
}

.read-wrapper {
  display: flex;
}

#read {
  margin: 1px 6px 20px 0px;
}

.submit-btn {
  /* align-self: flex-end; */
  width: 80px;
  margin-bottom: 20px;
}

.validation-message {
  color: red;
}