 html,
 body {
   margin: 0;
   padding: 0;
 }

 * {
   box-sizing: border-box;
 }

 div {
  border: 1px solid black;
 }
 
 .wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  .header,
  .body,
  .footer {
    padding: 20px;
    width: 100%;
  }

  .new-book-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto; /* scroll if overflow */
  background-color: rgba(0,0,0,0.5);
}

.new-book-form {
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;

  display: flex;
  flex-direction: column;
  

}

.form-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}